/* ------------------
   header style
------------------ */
header{
    background: rgba(255, 144, 14, 0.1);
}
/* nav style section */
nav{
    display: flex;
    justify-content: space-between;
}
.nav-title{
    font-size: 45px;
    margin-top: 20px;
    margin-left: 20px;
}
.nav-info{
    font-size: 18px;
    margin-top: 35px;
    margin-right: 30px;
    
}
.nav-info a{
    text-decoration: none;
}
.nav-anchor{
    margin-right: 50px;
}
/* --------------------------
banner style section
-------------------------- */
.banner{
    width: 862px;
height: 225px;
margin-left: 320px;
}
.banner-title{
    font-size: 64px;
    margin:20px;
}
.banner-description{
    font-size: 16px;
    margin-top:5px;
    margin-bottom: 5px;
}
.btn-primery{
  margin: 32px 470px 10px;
  width: 180px;
height: 64px;
background: #FF900E;
border-radius: 8px;
color: #FFFFFF;
border:0;
}
.banner-image {
    width: 1140px;
height: 600px;
border-radius: 8px;
margin-left: 60px;
margin-bottom: 30px;
margin-top: 30px;
}
/* --------------------
team style section
-------------------- */
.team{
    display: flex;
}
.team-image{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-column-gap: 24px;
    grid-row-gap: 24px;
    width: 700px;
    margin-top: 40px;
    margin-left: 40px;
}
.team-image img{
    width: 342px;
    height: 342px;
    border-radius: 8px;
}
.team-info{
    height: 300px;
    margin-top: 260px;
margin-left: 50px;
}
.team-title{
    color: #131313;
}
#quick-list{
    color: #727272;
}
#features{
    color: #FF900E;
}
.btn-primery2{
    width: 180px;
height: 64px;
background: #FF900E;
border-radius: 8px;
border: 0;
}
.team-description{
    font-size: 16px;
}
/* ten years button style */
.ten-years{
    width: 302px;
height: 120px;
background: #FF900E;
border-radius: 8px;
border: none;
position: relative;
left: 554px;
top: 870px;
}

/* -----------------------
container style section
----------------------- */
.container-section{
    width: 1440px;
height: 859px;
margin-left: 50px;
margin-top: 70px;
margin-right: 170px;
display: flex; 
}
.container{
    display: flex;
    height: 100px;
}
.container-title{
    font-size: 45px;
    margin-top: 0;
    margin-left: 20px;
    margin-bottom: 0;
}
.container-description{
    font-size: 16px;
    margin-top: 24px;
}
.container-detail{
    width: 586px;
height: 544px;
margin-top: 30px;
}
.container-detail-info{
    width: 514px;
height: 111px;
}
.container-detail-title{
    font-size: 20px;
}
.container-detail-description{
    font-size: 16px;
}

.continer-section-image{
    margin-left: 54px;
    width: 600px;
height: 900px;
}

.container-img{
    width: 576.781px;
    height: 800px;
}
/* container style section end */
.some{
    font-size: 45px;
    margin-left: 100px;
    margin-bottom: 20px;
}
.some-info{
    font-size: 16px;
    color: #727272;
    margin-left: 100px;
    margin-top: 20px;
}
/* tools style start  */
.tools{
    margin-top: 80px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 100px;
    
}
.tools-info{
    border: 1px solid #FF900E;
border-radius: 8px;
width: 241.83px;
height: 241.83px;
margin-left: 20px;
transition: transform 5s ;
}
.tools-info:hover {
    transform: rotate(360deg);
}
.tools-description{
    width: 169px;
height: 136.22px;
margin:60px 30px 37px 59px;
}
.tools-icon{
    margin-left: 45px;
}
.tools-number{
    margin-left: 47px;
}
.tools-name-award{
    margin-left: 15px;
}
.tools-name{
    margin-left: 20px;
}
.tools-name-email{
    margin-left: 30px;
}
/* tools style end  */
/* sponsor style section start  */
.sponsor{
    width: 542px;
    height: 129px;
    margin-left: 500px;
}
.sponsor-title{
    font-size: 45px;
    margin-bottom: 20px;
}
.sponsor-description{
    font-size: 16px;
}
.sponsor-image{
    display: grid;
    grid-template-columns:repeat(4,1fr);
    grid-column-gap: 50px; 
}
.image-name{
    width: 165.83px;
    height: 50px;
    mix-blend-mode: luminosity;
    margin-left: 60px;
    filter: grayscale(100%);
}

/* sponsor style end */

/* footer style start */
.footer-info{
    background: #FFF4E7;
border-radius: 8px;
width: 1040px;
height: 50px;
margin: 130px 180px 116px 200px;
}
.footer-discription{
    font-size: 20px;
    color: #424242;
    margin-top: 20px;
    margin-left: 280px;
    width: 620px;
height: 23px;
}
/* extra work */
.future{
    margin-top: 10px;
    margin-left: 500px;
}
.future-title{
    font-size: 45px;
    margin-top: 10px;
}
.future-info{
    font-size: 20px;
    color: #727272;
    margin-left: 170px;
}
/* -----------------
media query style
------------------ */

@media only screen and (max-width:688px) {
    nav{ 
        width: 100%;
   margin-left: 0%;
    }
    .nav-title{
        margin-top: 0;
        font-size: 20px;
    }
    .nav-info{
        margin-top: 2px;
        margin-left: 10px;
        margin-right: 0;
    }
    .banner{
        width: 100%;
        height: 100%;
        margin-left: 0%;
    }
    .btn-primery{
        margin: 0%;
    }
    .banner-image{
        height:100% ;
        width: 100%;
        margin-left: 0%;
    }
    .team{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
       
    }
    .team-image{
        grid-template-columns: repeat(1, 1fr);
        margin-left: 0%;
    }
    .team-info{
        margin-top: 0%;
        margin-left: 0%;
        height: 200px;
    }
    .team-description, .container-detail-description{
       width: 300px;
    }
    .ten-years{
        top: 0%;
        left: 0%;
    }
    .container-info{
        width: 100%;
    }
    .container-section{
        width: 100%;
        margin-left:0%;
    }
    .container-description{
        width: 100%;
       
    }
    .container-section{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        width: 100%;
        height: 100%;
    }
    .continer-section-image{
        margin-left: 0%;
        height: 400px;
    }
    .container-img{
        width: 300px;
        height: 400px;
    }
    .some {
        margin-left: 0;
}
.some-info {
    margin-left: 0;
    width: 300px;
}
.tools {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20px;
}
.sponsor {
    margin-left: 0;
}
.sponsor-image {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-row-gap: 20px;
}
.footer-info {
    margin-top: 70px;
    margin-bottom: 70px;
margin-left: 0;
width: 300px;
}

.footer-discription {
    width: 300px;
margin-left: 0;

}
.future {
    margin-left: 0;
    margin-top: 0;
}
.future-image{
    width: 300px;
    height: 400px;
}
.future-info  {
    margin-left: 0;
}




}
